---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.insert {
	margin-left: 2em;
	h2 {
		margin-top: 0;
	}
}

.list__item {
    overflow: auto;
}

.archive__item-teaser {
    width: 20%;
    float: left;
    padding: .5em;
}

archive__item-title {
    margin: 0em;
}
.webring {
	 border: 2px outset;
	 text-align: center;
	 margin-left: 0.5em;
	 margin-right: 0.5em;
	 p, a {
		flex: 1;
		margin: 0;
		padding: 0.1em;
		border: 2px inset;
		border-color: lightgrey;
		font-size: .75em;
	 }
}